{% extends "layout.html" %}

{% block title %}
    Contact Us
{% endblock %}

{% block main %}
<div class="card" style="width: 18rem;">
    <img src="/static/think.jpg" class="card-img-top" alt="about us">
    <div class="card-body">
      <h5 class="card-title">contact Us at</h5>
      <pre class="card-text">
        h.no.1-2-3,Shambala
        Telangana,
        India-504296
        call:9999999999
      </pre>
      <a href="mailto:kalki@shambala.com" class="btn btn-primary">kalki@shambala.com</a>
    </div>
{% endblock %}